<!DOCTYPE html>
<html lang="en-US" data-rev="{{timestamp}}">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="{{meta.author}}">
        <meta name="description" content="{{meta.description}}">
        <meta name="keywords" content="{{meta.keywords}}">
        <meta name="robots" content="{{meta.robots}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        {{{content}}}
    </body>
</html>
